* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #000;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
}
nav a {
    color:#fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color:#f0a500;
}
.hero {
    height: 70vh;
    background: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.hero h2 {
    font-size: 48px;
    margin: 0;
    letter-spacing: 2px
}
.hero p {
    font-size: 20px;
}
.work {
    padding: 50px 20px;
    text-align: center;
}
.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.work-grid img {
    width: 100%;
    border-radius: 10px;
transition: transform 0.4s ease;

}
.work-grid img:hover {
    transform: scale(1.05);
   

}
.about {
    background: white;
    padding: 50px 20px;
    text-align: center;
}
.contact {
    padding: 50px 20px;
    text-align: center;
}
footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.fade-in {
    animation: fadeIn 1.2s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 600px) {
  .hero h1 {
    font-size: 1.8rem;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
